/** colores*/
$dark-green-title: rgb(187, 16, 164);
$dark-green-text: #135359;
$white: rgb(105, 103, 103);

/** fuentes */
$font-title: "Alegreya", serif;
$fuente-normal: 1em;

%base-title {
    font-family: $font-title;
    color: $dark-green-text;
    display: flex;
    font-size: 30px;

}